html, body {
    background-color: #212529;
    height: 100%;
}
.main {
    height: 450px;
    margin-top: 150px;
}

h1 {
    font-size: 100px!important;
}

.searchFieldControl {
    width: 100%;
    height: 50px;
    border: 1px solid #5f6368;
    background-color: #212529;
    color: white;
    margin: auto;
    outline: none;
    padding-left: 25px;
    padding-right: 25px;
}

.searchFieldControl:hover {
    border: 1px solid #303134;
    background: #303134;
}

.searchFieldControl:focus {
    background: #303134!important;
}

.search-input:hover {
    border: 1px solid #303134;
    background: #303134;
}

.search-input:focus {
    background: #303134!important;
}


.search-input {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    display: flex;
}


.btns-sgsearch {
    background-color: #303134;
    border: 1px solid transparent!important;
    width: 130px;
}

.btns-sgsearch:hover {
    border: 1px solid #5f6368!important;
}
.btns {
    width: 50%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.btn-one {
    margin: auto;
}

.popup-window {
    color: black;
    width: 100%;
    opacity: 0;
    transition: 1s;

}

.popup-message {
    width: 180px;
    background: white;
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
    transition: 1s;
}

p {
    padding: 10px;
}

.search-ic {
    color: red;
}
